<div class="collection-grid">
  {% if block.settings.collections != blank %}
    {% for collection in block.settings.collections %}
      <div class="collection-card">
        <div class="image_dinner_card">
        <a href="{{ collection.url }}">
          {% if collection.image %}
            <img src="{{ collection.image | image_url: width: 500 }}">
          {% endif %}
        </a>
        </div>
        <div class="fresh_dinner_card_main">
            <h3>{{ collection.title }}</h3>
          <div class="actions">
            <a href="{{ collection.url }}" class="view-btn"> View All </a>
            <!-- SAVE BUTTON -->
            <button class="save-btn" data-id="{{ collection.id }}"  data-pax="0" data-title="{{ collection.title | escape }}" data-customer-id="{{ customer.id }}" >Save</button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>


<div id="collectionModal" class="modal hidden">
  <div class="modal-card">

    <!-- HEADER -->
    <div class="modal-header">
      <h2 id="modalTitle"></h2>
      <button class="close-modal">✕</button>
    </div>

    <!-- SEARCH -->
    <div class="modal-search">
      <input type="text" id="searchProduct" placeholder="Search products..." />
    </div>

    <!-- BODY -->
    <div id="productList" class="modal-body"></div>

    <!-- FOOTER -->
    <div class="modal-footer">
      <span id="selectedCount">0 selected</span>
      <span class="totalproceall">Total Price : </span>
      <div>
        <button class="btn secondary close-modal">Cancel</button>
        <button id="confirmSelection" class="btn primary">Save Selected</button>
      </div>
    </div>

  </div>
</div>

<script src="{{ 'collection.js' | asset_url }}" defer></script>
{{ 'collection.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "Collections Grid",
  "target": "section",
  "settings": [
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Select Collections",
      "limit": 8
    }
  ]
}
{% endschema %}
